<!DOCTYPE html>
<html>
<head>
    <title>SwapGPT</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/19a662058d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div id="chat-container">
        <h1 id="logo">🧠SwapGPT</h1>
        <div id="message-form">
            <input type="text" id="user-message" name="user-message" placeholder="Ask for some crypto swap...">
            <button type="submit">
                <i class="fa-regular fa-circle-right fa-xl"></i>
            </button>            
        </div>
        
        <div id="response-container">
            <div id="typing-indicator" class="hidden">...</div>
        </div>
    </div>  
    
    <!-- Modal  -->
    <div id="crypto-modal" class="modal closed">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>📄 Availability</h2>
            <div id="crypto-modal-body">
                <!-- Most Popular Section -->
                <h4 style="margin-bottom: 15px;">Most Popular</h4>
                <div id="crypto-list-popular">
                    {% for currency in currencies if currency.priority > 0 %}
                    <div class="crypto-item-div">
                        <p class="crypto-item" data-currency="{{ currency.code }}">
                            <img src="{{ currency.logo }}" alt="{{ currency.code }}" style="width:20px; height:20px;">
                            {{ currency.name }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <!-- All Currencies Section -->
                <h4 style="margin-bottom: 15px; margin-top: 25px;">All Currencies</h4>
                <div id="crypto-list-all">
                    {% for currency in currencies %}
                    <div class="crypto-item-div">
                        <p class="crypto-item" data-currency="{{ currency.code }}">
                            <img src="{{ currency.logo }}" alt="{{ currency.code }}" style="width:20px; height:20px;">
                            {{ currency.name }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
        var currencies = {{ currencies|tojson|safe }};
        console.log(currencies);
    </script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='order_data.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>

